In [23]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.model_selection import GridSearchCV

In [24]:
data = pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [25]:
print(data.head(10))

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
6        10180               29      86.13                9  2497.77
7        10188               48     100.00                1  5512.32
8        10201               22      98.57                2  2168.54
9        10211               41     100.00               14  4708.44

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...
5  10/28/2003 0:00  Shipped       4        10     2003  ...
6  11/11/2003 0:00  Shipped       4        11     2003  ...
7  11/18/2003 0:00  Shipped       4        11     2003  ...
8   12/1/2003 0:00  Shipped       4        12     2003  ...
9   1/15/2004 0:00  Shipped       1         1     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA
5              9408 Furth Circle           NaN     Burlingame    CA
6        184, chausse de Tournai           NaN          Lille   NaN
7    Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
8      5557 North Pendale Street           NaN  San Francisco    CA
9              25, rue Lauriston           NaN          Paris   NaN

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium
5      94217     USA       NaN          Hirano             Juri   Medium
6      59000  France      EMEA           Rance          Martine    Small
7     N 5804  Norway      EMEA          Oeztan           Veysel   Medium
8        NaN     USA       NaN          Murphy            Julie    Small
9      75016  France      EMEA         Perrier        Dominique   Medium

[10 rows x 25 columns]

In [26]:
len(data.index)

2823

In [27]:
print(data.nunique())

ORDERNUMBER          307
QUANTITYORDERED       58
PRICEEACH           1016
ORDERLINENUMBER       18
SALES               2763
ORDERDATE            252
STATUS                 6
QTR_ID                 4
MONTH_ID              12
YEAR_ID                3
PRODUCTLINE            7
MSRP                  80
PRODUCTCODE          109
CUSTOMERNAME          92
PHONE                 91
ADDRESSLINE1          92
ADDRESSLINE2           9
CITY                  73
STATE                 16
POSTALCODE            73
COUNTRY               19
TERRITORY              3
CONTACTLASTNAME       77
CONTACTFIRSTNAME      72
DEALSIZE               3
dtype: int64

In [28]:
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [29]:
print(data["TERRITORY"].value_counts())

EMEA     1407
APAC      221
Japan     121
Name: TERRITORY, dtype: int64

In [30]:
data.TERRITORY.fillna("EMEA")

0       EMEA
1       EMEA
2       EMEA
3       EMEA
4       EMEA
        ...
2818    EMEA
2819    EMEA
2820    EMEA
2821    EMEA
2822    EMEA
Name: TERRITORY, Length: 2823, dtype: object

In [31]:
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [32]:
print(data.TERRITORY.value_counts())

EMEA     1407
APAC      221
Japan     121
Name: TERRITORY, dtype: int64

In [33]:
print(data.iloc[:,range(0,4)])

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER
0           10107               30      95.70                2
1           10121               34      81.35                5
2           10134               41      94.74                2
3           10145               45      83.26                6
4           10159               49     100.00               14
...           ...              ...        ...              ...
2818        10350               20     100.00               15
2819        10373               29     100.00                1
2820        10386               43     100.00                4
2821        10397               34      62.24                1
2822        10414               47      65.52                9

[2823 rows x 4 columns]

In [34]:
features = data.iloc[:,range(0,4)]

In [37]:
cluster = KMeans(n_clusters=5)
cluster.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [39]:
print(cluster.predict(features))

[0 0 0 ... 1 1 1]